@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}
